/* 全局样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* 标题样式 */
header {
    background-color: #0bf122;
    color: rgb(218, 247, 5);
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

/* 图片轮换区域样式 */
.image-slider {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

.image-slider img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* 介绍区域样式 */
section {
    margin: 20px;
}

h2 {
    color: #333;
}

p {
    color: #666;
    line-height: 1.6;
}

/* 页脚样式 */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
